body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1200px;
	padding: 50px;
}

.wrapperForma {
	width: 700px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

input {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 20px;
}

button {
	padding: 5px 10px;
	background-color: #007bff;
	font-size: 20px;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
.back {
	margin-top: 20px;
}

.titleBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.newsGrid {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 20px;
}

.newsCard {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.newsTitle {
	font-size: 1.2rem;
	font-weight: bold;
}

.newsText {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Відображення тільки трьох рядків тексту */
	-webkit-box-orient: vertical;
}

a {
	text-decoration: none;
	color: inherit;
}

.article {
	margin-bottom: 40px;
	width: 640px;
	padding: 20px;
	border: 2px solid black
}

.articleTitle {
	font-size: 28px;
	margin-bottom: 10px;
}

.articleText {
	line-height: 1.5;
	font-size: 24px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn_paginaton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}

.page {
	margin: 0px 20px;
	font-weight: 700;
}